# Local Virtual Environment
venv/
.venv/

.agents/
.claude/

.inventry_frontend/design/

# Python compiled files
*.pyc
__pycache__/

# Django databases and secrets
*.sqlite3
db.sqlite3
.env

skills-lock.json